
<div class="main-content" style="background-color:skyblue">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <aside class="menu-sidebar d-none d-lg-block">
                <div class="menu-sidebar-content js-scrollbar1">
                    <nav class="navbar-sidebar">
                        <ul class="list-unstyled navbar-list">
                          <li>
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/images/image.png" alt="Hotels" class="img-responsive">
                                </a>
                            </div>
                            <br> 
                            <li>
                                <a href="Hotelslist">Hotels</a>
                            </li>
                            <li>
                                <a href="admin/booking/veiwall">Bookings</a>
                            </li>
                            <li>
                                <a href="admin/payment/veiwall">Payments</a>
                            </li>
                           
                        </ul>
                    </nav>
                </div>
                </aside>
            <div class="text-center">
                <h1>Hotels Available in Hyderabad....</h1>
                </div>

                <div class="text-center">

                <a href="#">
                <br><img src="assets/images/img1.png" alt="XYZ Company" class="img-responsive">
                </a>
                    
                </div>
        </div>
    </div>
    </div>