<div class="main-content" style="background-color: skyblue;">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

                <div class="Back-ground">
                    <div class="text-center" style="font-family: 'sans-serif'">
                        <h1 style="color:black; font-style: italic;">Welcome to Tourist Places in Hyderabad</h1>
                    </div>
                    <a href="#">
                        <img src="assets/images/BackGround.jpg" alt="Tourist Place" class="img-responsive" style="width: 1600px; height: 500px;">
                    </a>
                    
                </div>
                <aside class="menu-sidebar d-none d-lg-block">
                    <div class="Small">
                        <a href="#">
                            <img src="assets/images/LogoT.jpg" alt="Tourist Place" class="img-responsive">
                        </a>
                    </div>
                
                    <nav class="navbar-sidebar">
                       <ul class="list-unstyled navbar-list">
                            <H4 >
                                <a href="Touristlist">TouristPlaces</a>
                            </H4>
                        </ul>
                    </nav>
                
            </aside>
        </div>
    </div>
    </div>