<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="page-container">
                <app-search></app-search>
            <aside class="menu-sidebar d-none d-lg-block">
            <div class="menu-sidebar-content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar-list">
                      <li>
                        <div class="background">
                            <a href="#">
                                <img src="assets/images/logo.jpg" alt="XYZ" class="img-responsive">
                            </a>
                        </div>
                          <a href="adminlist">Home</a>
                      </li>
                        <li>
                            <a href="#">Tourist Places</a>
                        </li>
                        <li>
                            <a href="welcometransportation">Transportation Facilities</a>
                        </li>
                        <li>
                            <a href="#">Shopping Malls</a>
                        </li>
                        <li>
                            <a href="#">Hotels</a>
                        </li>
                    </ul>
                </nav>
            </div>
            </aside>
            
            <div class="text-center">
                <h1>Welcome to Smart City Guide</h1>
                <div class="background">

                <a href="#">
                    <br><img src="assets/images/smartcityguide.png" alt="XYZ" class="img-responsive">
                </a>
                
                </div>
        </div>
    </div>
</div>
