<div class="main-content"style="background-color:aqua">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <!-- <h1>Add Transportation</h1> -->
            <div class="row">
                <form #spForm="ngForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="transportationfacility.id==0"><h1>Add Transportation Facility</h1></div>
                    <div *ngIf="transportationfacility.id>0"><h1>Update Transportation Facility</h1></div>
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">id</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="id" [(ngModel)]="transportationfacility.id" />
  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Id</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="id" [(ngModel)]="transportationfacility.id"/>
  
                        </div>
                    </div>
  
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Transportation Type</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="transportationType" [(ngModel)]="transportationfacility.transportationType"/>
  
                        </div>
                    </div>
  
  
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Convenience</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="Convenience" [(ngModel)]="transportationfacility.convenience" />
  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Minium Cost per Ride</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="MinCostPerRide" [(ngModel)]="transportationfacility.minCostPerRide"  />
  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Rating</label>
                        <div class ="col-sm-10">
                            <input type ="number" name="Rating" [(ngModel)]="transportationfacility.rating" />
  
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Image</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="image" [(ngModel)]="transportationfacility.image" />
  
                        </div>
                    </div>

                    
                    <div class="form-group row">
                        <div class="col-sm-2"><button type ="submit"class="btn btn-info">Submit</button></div>
                        <div class="col-sm-2"><button type="reset" class="btn btn-info">Reset</button></div>
                      </div>
                    </form>
  
            </div>
            </div>
            </div>
            </div>
