<div class="main-content" style="background-color:pink;">
<div class="page-container">
   <!---- <app-searchtransportation></app-searchtransportation>-->
  </div>

    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <aside class="menu-sidebar d-none d-lg-block">
                <div class="menu-sidebar-content js-scrollbar1">
                    <nav class="navbar-sidebar">
                        <ul class="list-unstyled navbar-list">
                          <li>
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/images/transportation.png" alt="XYZ" class="img-responsive">
                                </a>
                            </div>
                            <br> 
                            <li>
                                <a href="Transportationfacilitylist">Transportation Facilities</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                </aside>
            <div class="text-center">
                <h1> Transportation Facilities in Hyderabad....</h1>
                </div>

                <div class="text-center">

                <a href="#">
                <br><img src="assets/images/transport.png" alt="XYZ Company" class="img-responsive">
                </a>
               
                </div>
        </div>
    </div>
    </div>
    