<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="form-area" >
          <div *ngIf="admin.adminId==0">
            <h2>Registration form</h2>
        </div>
        <div *ngIf="admin.adminId>0">
          <h2>Update {{admin.firstName}} {{admin.lastName}}</h2>
      </div> 
      <hr>
      <form #spForm="ngForm" (ngSubmit)="SaveAdmin()">
  
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-10">
                  <input type="text"  name="firstName" ngModel required [(ngModel)]="admin.firstName"  required minlength="4" appForbiddenName="bob"#name="ngModel" />
              </div>
              
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
  class="alert">
  
  <div *ngIf="name.errors?.['required']">
  firstName Name is required.
  </div>
  <div *ngIf="name.errors?.['minlength']">
  Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.['forbiddenName']">
  Name cannot be Bob.
  </div>
  
  </div>
  
          </div>     
  
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-10">
                  <input type="text" name="lastName" ngModel required [(ngModel)]="admin.lastName"  required minlength="4" appForbiddenName="bob"#name="ngModel" />
              </div>
              
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
  class="alert">
  
  <div *ngIf="name.errors?.['required']">
  Last Name is required.
  </div>
  <div *ngIf="name.errors?.['minlength']">
  Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors?.['forbiddenName']">
  Name cannot be Bob.
  </div>
  
  </div>
  
          </div>
  <br>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Name Of Admin </label>
              <div class="col-sm-10">
                  <input type="text" name="nameofadmin" ngModel required [(ngModel)]="admin.nameofadmin" required minlength="4" appForbiddenName="hhh"#name="ngModel"  />
              </div>
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">
          
            <div *ngIf="name.errors?.['required']">
              User Name is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              User Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors?.['forbiddenName']">
            User  Name cannot be hhh.
            </div>
          
          </div>
          
          </div>
  <br>
          <div class="form-group row">
              <label for="psw" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                  <input type="password" id="pass_word"  ngModel required [(ngModel)]="admin.password" name="password"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                      required>
                  <!-- <input type="text" name="userpassword" [(ngModel)]="user.userpassword" /> -->
              </div>
          </div>
  
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Email Id</label>
              <div class="col-sm-10">
                  <input type="text" name="emailId" ngModel required [(ngModel)]="admin.emailId" required minlength="4" appForbiddenName="bob"#name="ngModel"/>
              </div>
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">
          
            <div *ngIf="name.errors?.['required']">
              user_address is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              User Address must be at least 50 characters long.
            </div>
            <div *ngIf="name.errors?.['forbiddenName']">
            User  Address cannot be Bob.
            </div>
          
          </div>
          
     
          </div>
          <br>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Contact</label>
              <div class="col-sm-10">
                  <input type="number" name="contact" ngModel required [(ngModel)]="admin.contact"  required minlength="4" appForbiddenName="bob"#name="ngModel"/>
              </div>
              <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert">
          
            <div *ngIf="name.errors?.['required']">
              user_address is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              User Address must be at least 50 characters long.
            </div>
            <div *ngIf="name.errors?.['forbiddenName']">
            User  Address cannot be Bob.
            </div>
          
          </div>
          
     
      
          </div>
  <br>
  
          <div class="form-group-row">
              <div class="col-sm-8">
                  <button class="btn btn-info" type="submit">Submit</button> &nbsp; &nbsp;
                  <button class="btn btn-info" type="reset">Reset</button>
  
              </div>
          </div>
  
      </form>
  </div>        
  </div>
  </div>
