<mat-toolbar color="White" class="mat-elevation-z8" style="margin-bottom: 10px;">
  <div class="spacer"></div>
  <a mat-button style="margin-right: 10px; position: absolute; right: 0;" routerLink="/AboutUs">
    <H1>ABOUT US</H1>
  </a>


</mat-toolbar><div class="container" style="
background-image: url('assets/images/smart2.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh ;
background-attachment: fixed;">
  <h2> Smart City Guide Application-Hyderabad</h2>
  <nav>
    <a routerLink="/login">Admin Login</a>
    <a routerLink="/user/login">User Login</a>
    
  </nav>
</div>