<!--<div class="page-wrapper">-->
    
    <router-outlet></router-outlet>  
  <!-- MENU SIDEBAR-->
  <!--<aside class="menu-sidebar d-none d-lg-block">
      <div class="middle">
          <a href="#">
              <img src="assets/images/logo.jpg" alt="XYZ Company" class="img-responsive">
          </a>
      </div>
      
  </aside>-->
  <!-- END MENU SIDEBAR-->
  <!-- PAGE CONTAINER-->
  <!--<div class="page">
       HEADER DESKTOP
      <app-search></app-search>
       END HEADER DESKTOP

      Main content
      
  </div>

</div>
End page container

<footer>
  <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Help</a></li>
  </ul>
</footer>-->